* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*= pezzo-] {
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------- */

/* HTML */
body {
    background-color: rgb(19, 19, 36);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 80px;
}

button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 15px 30px;
    cursor: pointer;
}

.campominato-container {
    margin: 30px auto;
    width: 600px;
    height: 600px;
    display: none;
}
/* ---- */

/* JS */
.pezzo-di-campo {
    width: calc(100% / 10);
}

.pezzo-di-campo-pro {
    width: calc(100% / 9);
}

.pezzo-di-campo-hacker {
    width: calc(100% / 7);
}

.azure {
    background-color: rgb(32, 133, 133);
    transition: 1s;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}
/* -- */